body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.react-tel-input .special-label {
  color: #d0d5dd;
  left: 10px !important;
}
.phone-input-width {
  width: calc(50% - 5px);
  margin-left: 10px;
}

@media screen and (max-width: 599px) {
  .phone-input-width {
    width: 100%;
    margin-left: 0;
  }
}
